.FAVS{
    font-size: 27px;
    color: rgb(17, 122, 234);
}

#AA{
    color: rgb(82, 146, 69);
}

#BB{
    color: rgb(165, 32, 32);
}

#CHARACTER-NAME{
    font-style: italic;
    font-size: 30px;
    color: rgb(0, 204, 255);
}